.translate-body-workingArea{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}
.translate-body-workingArea-inputArea-check{
    display: flex;
    text-align: right;
}
#translate-body-workingArea-changeModeBut{
    text-align: center;
    font-size: 60px;
}
.translate-body-workingArea-transArea{
    text-align: right;
}
#translate-body-workingArea-translateBut {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: springgreen;
    border: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
#translate-body-workingArea-translateBut:hover{ 
  background-color: darksalmon;
}

#translate-body-workingArea-translateBut:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

#translate-body-workingArea-translateBut:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}