body{
    margin: 0px;
    padding: 0px;
}
a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: white
}

textarea{
    width: 100%;
    height: 100px;
    resize: none;
    box-shadow: 10px 10px 10px 2px #ECC9EE;
    border: 2px solid black;
    font-size: 20px;
}

  
  /* 모바일 or 작은 웹 화면 */
@media only screen and (max-width:500px){
    /* 모드 버튼 텍스트 축소 */
    #head-title{
        padding-left: 20px;
        font-size: 35px;
    }
    #category-title{
        font-size: 20px;
    }
    /* 모드 버튼 눌렀을 때 스크롤 펼치는 이벤트 */
    #category-title:hover~#category-desc{
        font-family: 'Mynerve', cursive;
        margin-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    #category-desc:hover{
        font-size: 0px;
        text-align: center;
    }
}

@media (hover: hover) and (pointer: fine){
    .neck-category:hover > #neck-category-desc{
        font-family: 'Mynerve', cursive;
        margin-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
}

.isIcon{
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
}
#head-title{
    cursor: pointer;
    background-color: #2B3467;
    padding: 20px;
    padding-left: 30px;
    color:white;
    font-family: 'Mynerve', cursive;
    font-size: 48px;
    font-weight: bold;
}
.neck{
    display: flex;
    border: 2px solid gray;
    background-color: #BAD7E9;
}
.neck-category{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
    padding-bottom: 10px;
}
#neck-category-title{
    font-family: 'Mynerve', cursive;
    font-size: 30px;
    font-weight: bold;
}
#neck-category-desc{
    font-size: 0px;
    text-align: center;
}