@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@media only screen and (max-width: 680px){ 
  /* 버튼 크기 축소 */
  .practice-body-main-user-option-answel{
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (hover: hover) and (pointer: fine){
  .practice-body-main-select-answel:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  #practice-body-main-user-write-input:hover{
    box-shadow: -2px 2px 15px darkblue;
  }
  #practice-foot-wordsMap:hover {
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    background-color:#80b5ea;
  }
}

.practice-body-main{
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  top: 40%;
}
#practice-body-main-question{
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
  font-size: 80px;
  font-weight: bold;
  border: 1px solid gray;
  background-color: #FCFFE7;
  box-shadow: 6px 6px 15px 3px #2B3467;
}
.practice-body-main-user{
  margin-top: 80px;
  text-align: center;
}
.practice-body-main-user-option-answel{
  
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;

  text-align: center;
  font-weight: bold;
  font-size: 30px;

  background-color: #c2fbd7;
  border-radius: 30px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  border: 0;
}
#practice-body-main-user-write-input{
  width: 400px;
  height: 40px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
}

#practice-body-title{
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.practice-foot{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #EB455F;
}
#practice-foot-wordsMap{
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  float: right;

	background:linear-gradient(to bottom, #c44659 50%, #91434f 560%);
	border: none;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
	text-shadow:3px 2px 3px #528ecc;
}